.calendar--container .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}

.selected {
    background-color: #78c2ad;
}

.today {
    background-color: #959e9c;
    color: white;
}

.before {
    color: #bcc2c0;
}

.day {
    cursor: pointer;
}