.TodoList--list {
    list-style: none;
}

.TodoList--container {
    background-image: url('../../public/images/todoFond.jpg');
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
}

.arrow-icons {
    cursor: pointer;
    width: 20%;
}

#card--container {
    display: flex;                  /* establish flex card--container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
  }
  #card--container > div {
    width: 100px;
    height: 100px;
    padding: 35px 0;
  }    
    